name: Build and Publish on Tag

on:
  push:
    tags:
      - 'v*'

permissions:
  contents: read

jobs:
  build-and-push-image:
    uses: ./.github/workflows/build-push-image.yaml
    with:
      file: gitops-server.dockerfile
      image: ghcr.io/gkalian/wego-app
      platforms: linux/amd64,linux/arm64
      push: true
      # Use the tag name (e.g., v0.39.0-rc.3)
      tags: |
        type=raw,value=${{ github.ref_name }}
        type=semver,pattern={{version}},value=${{ github.ref_name }}
      ref: ${{ github.ref_name }}
    permissions:
      contents: read
      id-token: write
      packages: write